* {
    margin: 0;
    padding: 0;
    box-sizing:border-box; 
}

body {
    margin: 0;
    padding: 0;
}

/* Sudhu boro screen-e hover kaj korbe (Laptop/Desktop) */
@media (min-width: 992px) {
    .navbar .nav-item.dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0; /* Nav-er sathe gap thik rakhar jonno */
        color: green;
    }
}/* 1. Main Nav Item er setup */
.navbar-nav .nav-item {
    position: relative; /* Dag-taki thik jaygay rakhar jonno */
    padding: 0 ;
}

/* 2. Bam pasher "|" dag-ta (By default height 0 thakbe) */
.navbar-nav .nav-item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 0; /* Shuru-te height nai */
    background-color: #008844; /* IFIC Green color */
    transition: height 0.4s ease; /* Animation speed */
}

/* 3. Mouse rakhle (Hover) dag-ta upor theke niche nambey */
.navbar-nav .nav-item:hover::before {
    height: 100%; /* Mouse rakhle height full hobe */
}

/* 4. Arrow rotate animation */
.dropdown-toggle::after {
    display: inline-block;
    transition: transform 0.4s ease; /* Smooth ghurbe */
}

.nav-item.dropdown:hover .dropdown-toggle::after {
    transform: rotate(180deg); /* Arrow matha uchu korbe */
}
a:hover {
    color: #008844 !important;
}
.nav-item.dropdown {
    font-size: 14px;
}
.dropdown-item {
    font-size: 13px;
}
/* 1. Dropdown Menu-r Background ar Border thik kora */
.bg-green-dropdown {
    background-color: #008844 !important;
    border-radius: 0; /* Mentor-er kotha moto shob square */
    border: none;

}

/* 2. Vetorer Link (Item) gulor style */
.bg-green-dropdown .dropdown-item {
    color: white !important;
    /* padding: 12px 20px; */
    border-bottom: 1px solid rgb(226, 223, 223) !important; /* Choto choto divider */
}
/* 4. Hover korle ektu dark green hobe */
.bg-green-dropdown .dropdown-item:hover {
    background-color: #bd2d20 !important;
    color: #ffffff !important;
}
/* Arrow icon-ke bold ar boro kora */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem; /* Boro korar jonno */
    height: 3rem;
    background-size: 100% 100%;
    /* Stroke thickness baranor trick (SVG filter) */
    filter: drop-shadow(0px 0px 1px black) contrast(150%); 
}
/* Default obosthay halka thakbe */
.carousel-control-prev,
.carousel-control-next {
    width: 5%; /* Click korar jayga ektu boro kora */
    transition: all 0.3s ease;
}

/* Hover korle background shada ba dark kora */
.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
    background-color: rgba(67, 73, 70, 0.724); /* IFIC Green hover */
    border-radius: 50%; /* Gol shape-er jonno */
    transform: scale(1.1); /* Ektu boro hobe */
}
.btn-3g{
    width: 220px;
    background-color: #008844;
    padding: 10px;
    border: none;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
}
.btn-3g:hover{
    background-color: #bd2d20 !important;
    color: #ffffff !important;
}
.ific{
    font-size: 100px !important;
    color: rgb(108, 114, 120) !important;
    
}
.ific_child{
    color: black !important;
    font-weight: bold;
    margin-top: 65px;
    margin-left: -320px;

}
.underline{
    border-bottom: 4px solid;
    padding-bottom: 25px;
    border-color: #008844;
}
@media (max-width: 991px) {
    #hide {
        display: none !important;
    }
}
/* @media (max-width: 991px) {
    .ific {
        font-size: 50px !important;
       margin-top: -10px;
    }
} */
 .card-link{
    text-decoration: none;
    color: #008844;
 }
.card2:hover-effect{
    transition: 1s;
}
  

.card2:hover{
  opacity: 50%;
    opacity: green;
}
#timer{
    color:#ffffff !important;
    font-weight:800 !important;
    text-align: center;
    pointer-events: none;
    padding: 40px;
}
#service{
    font-size: 100px !important;
    color: rgb(108, 114, 120) !important;
}
#unbounded{
    color: black !important;
    font-weight: bold;
    font-size: 30px;
    margin-top: -90px !important;
    
}
#sncard{
    text-align: justify;
    pointer-events: none !important;
}
#serimg{
    justify-content: center;
    margin-top: 150px;
    
}
.btn-vdo{
    width: 150px;
    background-color: #008844;
    color: #ffffff;
    padding: 5px;
    border: none;
    
}
#dark-card{
    color: #ffffff;
    border-right:solid;
    border-color: #868686;
   
}
.mrq{
    color: #ffffff;
    
}
#dark_car{
    margin-top: 120px;
}
#news-card{
    border: none;
}
.card-title-news:hover{
    color: #008844;
}
#newsbtn{
    color: black;
    font-weight: bold;
}
#newsbtn:hover{
    color:#008844;

}
#cntct{
    color: #ffffff ;
    padding: 15px;
}
.available{
    margin-top: -5px !important;
}
#footer_text{
    color: #c5bfbf;
    background-color: #3b3b3b;
    border: none;
}
#footer_text_li{
      color: #c5bfbf;
      background-color: #3b3b3b;
      border: none;

       border-bottom:1px solid ;
       border-color: #868686;
      


}
#footer_text_li:hover{
    color: #008844;
}



/* Sidebar Container */
.fixed-sidebar {
    position: fixed;
    top: 50%; /* Screen-er majhkane rakhbe */
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);
    gap: 15px;
    z-index: 1000;
}

.left-sidebar { left: 0; }
.right-sidebar { right: 0; }

#side_btn{
    writing-mode: vertical-rl;
}

/* News--page */
.banner-container{
    position: relative;
    width: 100%;
}
.overlay-box{
    position: absolute;
    bottom: 10%;
    background-color:  rgba(0, 0, 0, 0.5);
    color: #ffffff;
    padding: 20px;
    margin-left: 50px;
    
}

.sidebar{
  width: 300px;           
  height: 300px; 
  color: #3b3b3b !important;         
  overflow-y: auto;        
  padding: 15px;
  background-color: rgb(238, 248, 237);
  
}
.sidebar ul li{
    list-style-type: none;
    border-bottom: 1px solid;
    border-color: #c4c4c4;
    padding: 15px;
}
.sidebar ul li a {
    color: #3b3b3b;
}








